* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(100, 145, 100);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.title {
    margin-left: 50px;
}
.title>a {
    text-decoration: none;
    color: white;
}
.nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    height: 100%;
}

.nav>a {
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .3s all;
}

.nav>a:hover {
    border-bottom: 4px solid rgba(158, 93, 93, .7);
}

.slide {
    display: flex;
    overflow: hidden;
    width: 100%;
    border-bottom: 12px solid rgb(158, 93, 93);
}

.images {
    display: flex;
    animation: ani 20s infinite linear 1s both;
}

.images>img {
    width: 1000px;
    height: 700px;
    object-fit: cover;
}

@keyframes ani {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.container.text-center {
    margin-top: 150px;
}

.news {
    width: 85%;
    margin: auto;
}

.news>h2 {
    border-bottom: 2px solid rgb(158, 93, 93);
    padding-bottom: 8px;
    text-align: start;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.news>h2::after {
    content: "News";
    font-size: 20px;
    padding: 5px 10px;
    background-color: green;
    color: white;
    margin-left: 10px;
}

.news-data {
    text-align: start;
    display: flex;
}

.date {
    width: 100px;
}

.news-data:nth-of-type(2)>.news-content {
    color: red;
}

.mushi_tya-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mushi_tya {
    width: 70%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
}

.shop_explanation {
    margin-top: 200px;
    text-align: center;
}

.shop_explanation>h2 {
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(158, 93, 93);
}

section {
    background-color: rgb(100, 145, 100);
    padding-bottom: 80px;
}

.pickup-title {
    color: white;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 60px;
}

.pick-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.pick-flex>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.pick-flex>div {
    margin-top: 40px;
    width: 60%;
    border-radius: 10px;
    padding: 10px 40px;
    background-color: rgba(158, 93, 93, .7);
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 130px;
    height: 80px;
    background-color: rgba(158, 93, 93, .7);
    padding: 20px 0 80px 0;
}

.icons {
    text-align: center;
    margin-bottom: 20px;
}

.copy-light {
    text-align: center;
}

.mushi_tya,
.pick-flex>img {
    transform: translateY(30px);
    opacity: 0;
    transition: all .8s;
}

.mushi_tya.is-active,
.pick-flex>img.is-active {
    transform: translateY(0);
    opacity: 1;
}
.hum{
display: none;
}
.offcanvas {
    display: none;
}

@media screen and (max-width:418px) {
    .nav {
        display: none;
    }

    .news {
        width: 100%;
    }

    .mushi_tya-flex {
        margin-top: 100px;
    }

    .mushi_tya {
        width: 90%;
    }

    .pick-flex>div {
        width: 80%;
        margin-bottom: 100px;
        margin-top: 20px;
    }

    .hum {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        position: relative;
        display: block;
    }

    .border {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
    }

    .border:nth-of-type(1) {
        top: 20%;
    }

    .border:nth-of-type(2) {
        top: 50%;
    }

    .border:nth-of-type(3) {
        top: 80%;
    }

    .offcanvas {
        color: white;
        display: block;
        background-color: rgb(100, 145, 100);
        transition: .3s all;
    }

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 500px;
        width: 70%;
    }

    .offcanvas-body>a {
        text-decoration: none;
        color: white;
    }
}